<h1>Restaurant</h1>
<div class='restaurant'>
  <p><%= @restaurant.name %> (<%= @restaurant.cuisine %>)</p>
  <p><%= @restaurant.address %></p>
</div>
<div class='links'>
  <%= link_to "Edit", edit_restaurant_path(@restaurant) %> ::
  <%= link_to "Delete", @restaurant, :method => :delete %>
</div>