<!DOCTYPE html>
<html>
<head>
  <title>Foodee</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>Foodee</header>
<nav>
  <%= link_to "Home", root_path %>
  <%= link_to "Restaurants", restaurants_path %>
  <%= link_to "Dishes", dishes_path %>
  ::
  <%= link_to "new restaurant", new_restaurant_path %>
  <%= link_to "new dish", new_dish_path %>
  <%= link_to "new receipt", new_receipt_path %>
</nav>
<div id="content"><%= yield %></div>
<footer>(c) 2012 Foodee Global Industries</footer>

</body>
</html>
